@import "tailwindcss";
@import "tw-animate-css";
@import "./styles/base.css";

:root {
  --primary: oklch(0% 0 0);
  --accent: oklch(0.970 0.000 0.000);
  --background: oklch(1.000 0.000 0.000);
  --border: oklch(0.922 0.000 0.000);
  --card: oklch(1.000 0.000 0.000);
  --card-foreground: oklch(0.145 0.000 0.000);
  --destructive: oklch(0.577 0.215 27.325);
  --accent-foreground: oklch(0.205 0.000 0.000);
  --foreground: oklch(0.145 0.000 0.000);
  --input: oklch(0.922 0.000 0.000);
  --muted: oklch(0.970 0.000 0.000);
  --popover: oklch(1.000 0.000 0.000);
  --popover-foreground: oklch(0.145 0.000 0.000);
  --primary-foreground: oklch(0.985 0.000 0.000);
  --ring: oklch(0.715 0.000 0.000);
  --secondary: oklch(0.970 0.000 0.000);
  --secondary-foreground: oklch(0.205 0.000 0.000);
  --muted-foreground: oklch(0.556 0.000 0.000);
  --chart-1: oklch(0.646 0.194 41.116);
  --chart-2: oklch(0.600 0.104 184.704);
  --chart-3: oklch(0.398 0.066 227.392);
  --chart-4: oklch(0.837 0.164 84.429);
  --chart-5: oklch(0.769 0.165 70.080);
  --sidebar: oklch(0.985 0.000 0.000);
  --sidebar-foreground: oklch(0.145 0.000 0.000);
  --sidebar-primary: oklch(0.205 0.000 0.000);
  --sidebar-primary-foreground: oklch(0.985 0.000 0.000);
  --sidebar-accent: oklch(0.970 0.000 0.000);
  --sidebar-accent-foreground: oklch(0.205 0.000 0.000);
  --sidebar-border: oklch(0.922 0.000 0.000);
  --sidebar-ring: oklch(0.715 0.000 0.000);
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius-sm: 0.375rem;
  --radius-xs: 0.125rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.875rem;
  --radius-md: 0.5rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}

.dark {
  --primary: oklch(0.922 0.000 0.000);
  --accent-foreground: oklch(0.985 0.000 0.000);
  --background: oklch(0.145 0.000 0.000);
  --border: oklch(1.000 0.000 0.000 / 0.1);
  --card: oklch(0.205 0.000 0.000);
  --accent: oklch(0.371 0.000 0.000);
  --card-foreground: oklch(0.985 0.000 0.000);
  --destructive: oklch(0.711 0.166 22.216);
  --foreground: oklch(0.985 0.000 0.000);
  --input: oklch(1.000 0.000 0.000 / 0.15);
  --muted: oklch(0.269 0.000 0.000);
  --popover: oklch(0.269 0.000 0.000);
  --popover-foreground: oklch(0.985 0.000 0.000);
  --primary-foreground: oklch(0.205 0.000 0.000);
  --ring: oklch(0.556 0.000 0.000);
  --secondary: oklch(0.269 0.000 0.000);
  --secondary-foreground: oklch(0.985 0.000 0.000);
  --muted-foreground: oklch(0.715 0.000 0.000);
  --chart-1: oklch(0.488 0.217 264.376);
  --chart-2: oklch(0.696 0.149 162.480);
  --chart-3: oklch(0.769 0.165 70.080);
  --chart-4: oklch(0.627 0.233 303.900);
  --chart-5: oklch(0.645 0.215 16.439);
  --sidebar: oklch(0.205 0.000 0.000);
  --sidebar-foreground: oklch(0.985 0.000 0.000);
  --sidebar-primary: oklch(0.488 0.217 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.000 0.000);
  --sidebar-accent: oklch(0.269 0.000 0.000);
  --sidebar-accent-foreground: oklch(0.985 0.000 0.000);
  --sidebar-border: oklch(1.000 0.000 0.000 / 0.1);
  --sidebar-ring: oklch(0.439 0.000 0.000);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}

